<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    {% load static %}
    {% load crispy_forms_tags %}
    <!-- <script src="{% static 'js/script.js' %}"></script> -->
    <title>Level Up Login</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Welcome!</h1>
            <p>This is the Level Up Page. A place for you to keep track of assignments and how many how many hours you have left on them in the ones you want to finish in a given time period!</p>
        </div>
        <div class="row">
            <div class="colomn col-md-6">
                <h3>Register</h3>
                <!-- {{ form.non_field_errors }} -->

                <!-- {% if reg_form.errors %}
                    {% for field in reg_form %}
                        {% for error  in field.errors %}
                            <div>{{error}}</div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                {% crispy reg_form reg_form.helper %} -->
                
            </div>
            <div class="colomn col-md-6">
                <h3>Login</h3>
                {% crispy log_form log_form.helper %}
            </div>

        </div>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>